# ================================
# Intermediate CA Configuration
# ================================

[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = .                                # Working directory: /opt/pki/intermediate
certs             = $dir/certs
crl_dir           = $dir/crl
new_certs_dir     = $dir/certs
database          = $dir/db/index.txt
serial            = $dir/db/serial
private_key       = $dir/private/int-ca.key          # Intermediate CA private key
certificate       = $dir/certs/int-ca.crt            # Intermediate CA certificate
default_md        = sha256
default_days      = 1825                             # CHANGE OPTIONAL (Intermediate CA lifetime)
policy            = policy_loose
copy_extensions = copy

[ policy_loose ]
countryName             = optional
stateOrProvinceName     = optional
organizationName        = optional
commonName              = supplied

[ req ]
default_bits        = 4096
default_md          = sha256
prompt              = no
distinguished_name  = dn
req_extensions      = v3_req

[ dn ]
C  = CA                    # CHANGE
ST = Intermediate-State    # CHANGE
O  = Intermediate-Org      # CHANGE
CN = Intermediate-CA       # CHANGE

[ v3_req ]
basicConstraints = CA:TRUE, pathlen:0
keyUsage         = critical, keyCertSign, cRLSign
subjectKeyIdentifier = hash

# This block is used when the Intermediate CA signs service certificates
[ v3_service_cert ]
basicConstraints = CA:FALSE
keyUsage         = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
